@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2 class="testas mt-5"> Sveiki, prisijungę prie Priėmimo proceso valdymo sistemos!</h2>
        <h5 class="text-left">Apie projektą</h5>
        <p class="text-left">
            Priėmimo proceso valdymo sistema PRIS skirta palengvinti Akademija.IT priėmimo proceso koordinavimą tarp jo dalyvių bei kaupti istorinius priėmimo duomenis tolimesniam panaudojimui.
        </p>
        <p class="text-left">
            Priėmimas yra vienas iš pagrindinių Akademija.IT veiklos procesų, kiti - Ugdymas, Komunikacija ir Partneriai. Procese dalyvauja švietimo partnerių (VTMC Vilniuje, KITM Kaune, ateityje gali atsirasti ir daugiau) administracijos vadovai ir darbuotojai, IT profesijos mokytojai, partnerių-įmonių personalo ir technologijų specialistai. Proceso savininkas - Virginija Putnaitė, VTMC dir. pavaduotoja ugdymui. Atskiros proceso dalys deleguotos kitiems asmenims.
        </p>
        <p class="text-left">
            Priėmimo proceso dalį funkcijų, susijusių su kandidatų prašymų teikimu ir informavimu  realizuoja LAMA BPO sistema, su kuria integracijų nenumatoma. 
        </p>
    </div>
