
@{
    ViewData["Title"] = "Main";
}

<h3>Pagrindinis puslapis</h3>
<hr/>
<div class="text-center">
    <div class="container row p-0 m-0">
        <div class="col-6">
            <h5 class="text-left">info@akademija.it</h5>
            <h5 class="text-left">+370 5 247 7560</h5>
            <h5 class="text-left">Lakūnų g. 3, Vilnius</h5>
        </div>
    </div>
</div>


