
@{
    ViewData["Title"] = "Main";
}

<h1>Pagrindinis puslapis</h1>

<div class="text-center">
    <div class="container row p-0 m-0">
        <div class="col-6">
            <a class="btn btn-info form-control text-white" asp-area="" asp-controller="Exams" asp-action="Index">Testai</a>
        </div>
    </div>
</div>


