@model PRIS.Web.Models.StudentViewModel

@{
    ViewData["Title"] = "EditResult";
}

<h1>EditResult</h1>

<h4>StudentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>

                @Html.DisplayNameFor(model => model.FirstName)
                @Html.DisplayFor(model => model.FirstName)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.LastName)
                @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="form-group">
                <label asp-for="Task1_1" class="control-label"></label>
                <input asp-for="Task1_1" class="form-control" />
                <span asp-validation-for="Task1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task1_2" class="control-label"></label>
                <input asp-for="Task1_2" class="form-control" />
                <span asp-validation-for="Task1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task1_3" class="control-label"></label>
                <input asp-for="Task1_3" class="form-control" />
                <span asp-validation-for="Task1_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task2_1" class="control-label"></label>
                <input asp-for="Task2_1" class="form-control" />
                <span asp-validation-for="Task2_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task2_2" class="control-label"></label>
                <input asp-for="Task2_2" class="form-control" />
                <span asp-validation-for="Task2_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task2_3" class="control-label"></label>
                <input asp-for="Task2_3" class="form-control" />
                <span asp-validation-for="Task2_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task3_1" class="control-label"></label>
                <input asp-for="Task3_1" class="form-control" />
                <span asp-validation-for="Task3_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task3_2" class="control-label"></label>
                <input asp-for="Task3_2" class="form-control" />
                <span asp-validation-for="Task3_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task3_3" class="control-label"></label>
                <input asp-for="Task3_3" class="form-control" />
                <span asp-validation-for="Task3_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task3_4" class="control-label"></label>
                <input asp-for="Task3_4" class="form-control" />
                <span asp-validation-for="Task3_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentResult" class="control-label"></label>
                <input asp-for="CommentResult" class="form-control" />
                <span asp-validation-for="CommentResult" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
