@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Atstatyti slaptažodį iš naujo";
}

<h1>@ViewData["Title"]</h1>
<p>
    Patikrinkite savo elektroninį paštą, kad atstatytumėt savo slaptažodį
</p>

