@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Pamiršai slaptažodį?";
}

<h1>@ViewData["Title"]</h1>
<h4>Įveskite el. paštą</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="El. Paštas"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Patvirtinti</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
