@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
        <div class="container">
            <div class="text-white col-5"><h1 class="h4">Priėmimo proceso valdymo sistema</h1></div>

            <div class="col-5 collapse d-sm-inline-flex flex-sm-row-reverse nav-margin">
                @*<ul class="navbar-nav flex-grow-1">
                    </ul>*@
            </div>
            <div class="col-2 text-right"><img class="img" src="http://akademija.it/file/2016/11/14/it_akademija.png" alt="akademija_it_logo" /></div>
        </div>
    </nav>


</header>

<div class="row justify-content-center align-content-center login-center mr-0">
    <div>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">El.paštas:</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Slaptažodis:</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Prisijungti</button>
                </div>
                <div class="form-group text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Pamiršai slaptažodį?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@*<div class="container">
        <main role="main" class="pb-3">
        </main>
    </div>*@

<footer class="footer border-top footer text-muted">
    <div class="container text-right text-white">
        &copy; 2020 - Bugless, Inc. All rights reserved <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
    </div>
</footer>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
