@model PRIS.Web.Models.ProgramViewModel
@{
    ViewData["Title"] = "CreateNewCity";
}

<h1>Sukurti naują miestą</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityNames" class="control-label">Miesto pavadinimas</label>
                <input asp-for="CityNames" class="form-control" />
                <span asp-validation-for="CityNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sukurti" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Grižti</a>
</div>

