@model PRIS.Web.Models.CityCreateModel
@{
    ViewData["Title"] = "CreateNewCity";
}

<h3>Sukurti naują miestą</h3>

<hr />
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sukurti" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-secondary" asp-action="Index">Grįžti</a>
</div>

