@model PRIS.Web.Models.ProgramViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Ar tikrai norite ištrinti?</h3>
<div>
    <h4>Program</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Programos pavadinimas")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramNames)
        </dd>
    </dl>
    
    @*<form asp-action="Delete">
        <input type="hidden" asp-for="ProgramId" />
        <input type="submit" value="Ištrinti" class="btn btn-danger" /> |
        <a asp-action="Index">Grižti</a>
    </form>*@
</div>
