
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <a class="btn btn-info form-control text-white" asp-area="" asp-controller="Programs" asp-action="Index">Programos ir Miestai</a>
    </div>
</div>

