@model PRIS.Web.Models.ExamViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>Sukurti testą</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <div>
                    @Html.DropDownListFor(x => Model.SelectedCity, new SelectList(Model.Cities, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "City" })
                    @Html.ValidationMessageFor(x => x.SelectedCity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Sukurti" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-secondary" asp-action="Index">Grįžti</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
