<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akademija.it Priėmimo proceso valdymo sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div class="container">
                        <div class="text-white text-nowrap"><h1 class="h4">Priėmimo proceso valdymo sistema</h1></div>
                        <div class="collapse d-sm-inline-flex flex-sm-row-reverse nav-margin justify-content-center">
                            <partial name="_LoginPartial" />
                            <ul class="navbar-nav flex-grow-1">
                            </ul>
                        </div>
                        <div class="text-right"><img src="http://akademija.it/file/2016/11/14/it_akademija.png" alt="akademija_it_logo" /></div>
                                        
                </div>
        </nav>        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-right text-white">
            &copy; 2020 - Bugless, Inc. All rights reserved <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
