@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Studentai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Kursai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registracija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Nustatymai</a>
            </li>*@



    }

</div>

