@model PRIS.Web.Models.SetTaskParameterModel
@{
    ViewData["Title"] = "Edit";
}

<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>

<h1>Keisti užduočių maksimalius balus</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach (var task in Model.Tasks)
                {
                    <span asp-validation-for="@task" class="text-danger"></span>

                }
            <div class="input-group">
                @{
                    var taskNames = new string[] { "1.1", "1.2", "1.3", "2.1", "2.2", "2.3", "3.1", "3.2", "3.3", "3.4" };
                }
                @for (int i = 0; i < Model.Tasks.Length; i++)
                {
                    <div class="input-group-prepend">
                        <span class="input-group-text">@taskNames[i]</span>
                    </div>
                    <input name="tasksString" type="number" step="0.5" min="0.5" asp-for="@Model.TaskString[i]" class="form-control" required
                           oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                           oninput="this.setCustomValidity('')">
                } 
            </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Atnaujinti" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a href='javascript:history.go(-1)'>Grįžti į testų sąrašą</a>
</div>
