@model PRIS.Web.Models.SetTaskParameterModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Keisti užduočių maksimalius balus</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach (var task in Model.Tasks)
                {
                    <span asp-validation-for="@task" class="text-danger"></span>

                }
                <div class="input-group">
                    @foreach (var task in Model.Tasks)
                    {
                        <div class="input-group-prepend">
                            <span class="input-group-text">1.1</span>
                        </div>
                        <input name="tasks" type="number" step="0.5" min="0.5" asp-for="@task" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">
                    }
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Atnaujinti" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Exams" asp-action="Index">Grįžti į testų sąrašą</a>
</div>
