@model PRIS.Web.Models.SetTaskParameterModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Keisti užduočių maksimalius balus</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach (var task in Model.Tasks)
                {
                    <span asp-validation-for="@task" class="text-danger"></span>

                }
                @*<span asp-validation-for="Task1_1" class="text-danger"></span>
                    <span asp-validation-for="Task1_2" class="text-danger"></span>
                    <span asp-validation-for="Task1_3" class="text-danger"></span>
                    <span asp-validation-for="Task2_1" class="text-danger"></span>
                    <span asp-validation-for="Task2_2" class="text-danger"></span>
                    <span asp-validation-for="Task2_3" class="text-danger"></span>
                    <span asp-validation-for="Task3_1" class="text-danger"></span>
                    <span asp-validation-for="Task3_2" class="text-danger"></span>
                    <span asp-validation-for="Task3_3" class="text-danger"></span>
                    <span asp-validation-for="Task3_4" class="text-danger"></span>*@
                <div class="input-group">
                    @foreach (var task in Model.Tasks)
                    {
                        <div class="input-group-prepend">
                            <span class="input-group-text">1.1</span>
                        </div>
                        <input name="tasks" type="number" step="0.5" min="0.5" asp-for="@task" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">
                    }


                    @*<div class="input-group-prepend">
                            <span class="input-group-text">1.2</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task1_2" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">1.3</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task1_3" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">2.1</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task2_1" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">2.2</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task2_2" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">2.3</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task2_3" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">3.1</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task3_1" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">3.2</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task3_2" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">3.3</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task3_3" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">

                        <div class="input-group-prepend">
                            <span class="input-group-text">3.4</span>
                        </div>
                        <input type="number" step="0.5" min="0.5" asp-for="Task3_4" class="form-control" required
                               oninvalid="this.setCustomValidity('Balas neįvestas arba įvestas mažiau negu 0.5')"
                               oninput="this.setCustomValidity('')">*@
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Atnaujinti" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Exams" asp-action="Index">Grįžti į testų sąrašą</a>
</div>
