@model PRIS.Web.Models.StudentsResultViewModel

@{
    ViewData["Title"] = "ExamKpi";
}



<h4>Testo užduočių procentinė išraiška</h4>


<hr />
<table class="table table-borderless d-inline">
    <thead>
        @{
            var taskNames = new string[] { "1.1", "1.2", "1.3", "2.1", "2.2", "2.3", "3.1", "3.2", "3.3", "3.4" };
        }
        @for (int i = 0; i < taskNames.Length; i++)
        {
            <tr[i]>
                <th>@taskNames[i]</th>
            </tr[i]>
        }
    </thead>
    <tbody>
        <tr>
            <th scope="row">KPI</th>
            <td>
            </td>
        </tr>
    </tbody>
</table>
